#services{
    padding:3rem;
}

#footer-link{
    display:flex;
    justify-content: space-around;
}

.form-wrapper{
    text-align: center;
    margin-top: 15px;
    color: #ccced0;
    font-weight: bold;
}

.errorlist{
	color: #fd805e;
	margin-top: 15px;
    list-style-type: none;
}